/*アイコン・テキストを縦方向に並べる*/
.with-icon-vertical {
    display: grid;
    justify-items: center;
    font-size: 12px;
}

/*アイコン・テキストを横方向に並べる*/
.with-icon-horizontal {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
}

/*アイコン・テキスト・アイコンの順に横方向に並べる*/
.with-icon-double {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 16px;
    align-items: center;
}

/*アイコン・テキストを横方向に並べる（右サイドのアイコンに自動対応）*/
.with-icon-auto {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-flow: column;
    gap: 16px;
    align-items: center;
}

/*アイコン付きのリンクを縦方向に並べる*/
.menu-vertical {
    display: grid;
    gap: 16px;
    align-content: start;

    & a {
        padding: 8px 12px;
        border-radius: 8px;

        &.current {
            background-color: #f1f5f9;
        }

        &:hover {
            background-color: #e2e8f0;
        }
    }
}

/*アイコン付きのリンクをよこ方向に並べる*/
.menu-horizontal {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    gap: 2px;
    justify-content: center;

    & a {
        padding: 8px;
        border-radius: 8px;

        &.current {
            background-color: #f1f5f9;
        }

        &:hover {
            background-color: #e2e8f0;
        }
    }
}